<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
			<clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported 1" stopProcessing="true">
                    <match url="^favicon.ico$" />
                    <conditions logicalGrouping="MatchAll">
                    </conditions>
                    <action type="Rewrite" url="images/favicon.png" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?uri={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
				<add name="X-Frame-Options" value="DENY" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-XSS-Protection" value="1; report=endpoint-1" />
				<add name="Reporting-Endpoints" value="endpoint-1=&quot;/csp/report&quot;" />
				<add name="Report-To" value="{&quot;group&quot;:&quot;default&quot;,&quot;max_age&quot;:1800,&quot;endpoints&quot;:[{&quot;url&quot;:&quot;/csp/report&quot;}],&quot;include_subdomains&quot;:true}" />
            </customHeaders>
        </httpProtocol>
        <security><!-- no need for public access to /views/ or /config/, so we block it -->
            <requestFiltering>
                <hiddenSegments>
                    <add segment="views" />
                    <add segment="config" />
                </hiddenSegments>
            </requestFiltering>
        </security><!-- An interesting use of the errorpage handler -->
        <httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="ExecuteURL">
            <clear />
            <error statusCode="400" path="/error.php?e=400&amp;m=Bad Request" responseMode="ExecuteURL" />
            <error statusCode="401" path="/error.php?e=401&amp;m=Forbidden" responseMode="ExecuteURL" />
            <error statusCode="404" path="/error.php?e=404&amp;m=Page Not Found" responseMode="ExecuteURL" />
            <error statusCode="405" path="/error.php?e=405&amp;m=Method Not Allowed" responseMode="ExecuteURL" />
            <error statusCode="408" path="/error.php?e=408&amp;m=Request Timeout" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
